$palette-one: #91c4f2;
$palette-two: #8ca0d7;
$palette-three: #9d79bc;
$palette-four: #a14da0;

$serif-fonts: Georgia, Cambria, "Times New Roman", serif;
$font-base-size: 20px;

$border-radius: 10px;
